@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 770px) {
.profile-desc-container {
    text-align: center;
    display: block;
    margin: 25px 0;
	width:100%;
}
.profile-pic-container {
    text-align: center;
    display: block;
    margin: 25px 0;
	width:100%;
}
#designPhilosophy1, #competitions1{
	display:none;
}
#designPhilosophy2, #competitions2{
	display:inline-block;
}

.iframe{
	height:300px;
}
}

@media screen and (max-width: 600px) {
.iframe{
	height:250px;
}
}

@media screen and (max-width: 500px) {
.iframe{
	height:200px;
}
}