@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 770px) {
.profile-desc-container {
    text-align: center;
    display: block;
    margin: 25px 0;
	width:100%;
}
.profile-pic-container {
    text-align: center;
    display: block;
    margin: 25px 0;
	width:100%;
}
}